<%- include('../partials/user/header', { userName: user?.name || 'User' }) %>

<style>
  html {
    transform: scale(0.9);
    transform-origin: top center;
  }

  .navbar {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
  }

  .nav.flex-column .nav-link {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black !important;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  .nav.flex-column .nav-link i {
    margin-right: 8px;
    font-size: 1.1rem;
  }

  .btn-dark-red {
    background-color: #450808;
    color: white !important;
    border: none;
    font-weight: bold;
  }

  .btn-dark-red:hover {
    background-color: #400606;
    color: white !important;
  }

  .form-label {
    font-weight: bold;
  }

  .form-control[readonly] {
    font-weight: normal;
    color: black !important;
  }

  .content-wrapper {
    margin-top: 80px;
  }

  .personal-info-title {
    font-size: 1.8rem;
    font-weight: bold;
  }
</style>

<div class="container-fluid content-wrapper">
  <div class="row">
    <div class="col-md-3 col-lg-2 bg-light border-end p-3">
      <h5 class="mb-4"><%= user?.name || 'User' %></h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/profile" class="nav-link active"> My Account</a>
        </li>
        <li class="nav-item mb-2">
          <a href="/my-orders" class="nav-link"> My Orders</a>
        </li>
        <li class="nav-item mb-2">
          <a href="/manage-address" class="nav-link"> Manage Addresses</a>
        </li>
        <li class="nav-item mb-2">
          <a href="/wallet" class="nav-link"> Wallet</a>
        </li>
        <li class="nav-item mb-2">
          <a href="/wishlist" class="nav-link">My Favourite</a>
        </li>
        <li class="nav-item mb-2">
          <a href="/add-account" class="nav-link"> Add Account</a>
        </li>
      </ul>
      <form action="/logout" method="POST" class="mt-4">
        <button type="submit" class="btn btn-dark-red w-100">LOG OUT</button>
      </form>
    </div>

    
    <div class="col-md-9 col-lg-10 p-4">
      
      <% if (!user) { %>
        <div class="alert alert-warning">
          You need to be logged in to view this page. <a href="/login">Login here</a>
        </div>
      <% } else { %>
        <div class="col-md-9 col-lg-10 p-4">
          <h2 class="fw-bold mb-4 text-center" style="color: #333;">Personal Information</h2>

          <% 
            let referralCode = user.referralId;
            if (!referralCode) {
              let letters = (user.name ? user.name.substring(0, 3) : "USR").toUpperCase();
              let numbers = Math.floor(1000 + Math.random() * 9000);
              referralCode = letters + numbers;
            }
          %>

          <div class="mb-3">
            <label class="form-label">Referral Id:</label>
            <div><%= referralCode %></div>
          </div>

          <div class="mb-3">
            <label class="form-label">Name:</label>
            <input type="text" value="<%= user.name || '' %>" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label class="form-label">Password:</label>
            <input type="password" value="******" class="form-control" readonly>
            <small><a href="/reset-password" class="text-danger">Change Password</a></small>
          </div>

          <div class="mb-3">
            <label class="form-label">Mobile Number:</label>
            <input type="text" value="<%= user.phoneNumber || '' %>" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label class="form-label">E-mail:</label>
            <input type="email" value="<%= user.email || '' %>" class="form-control" readonly>
            <small><a href="/change-email" class="text-danger">Change Email</a></small>
          </div>
        </div>

        <div class="text-end mb-4">
    <a href="/profile/edit" class="btn btn-danger" style="background-color: rgb(70, 6, 6); border: none;">
      Edit Profile
    </a>

  </div>
      <% } %>
    </div>
  </div>
</div>

<%- include('../partials/user/footer') %>
